body {
  width : 200px;
  margin: 0px;
  border: 0px;
}

.content {
  display       : flex;
  flex-direction: column;
}


.top {
  display        : flex;
  justify-content: space-between;
  margin         : 10px 15px;
}



.m-wrap {
  width      : 100px;
  border     : 0px;
  outline    : 1px solid rgb(204, 204, 204);
  height     : 28px !important;
  line-height: 25px;

}





#sfz {
  height          : 30px;
  width           : 100%;
  display         : flex;
  align-items     : center;
  justify-content : center;
  background-color: #F5F5F5;
  font-size       : 16px;
}


#btn {
  width           : 60px;
  background-color: #5680b8;
  color           : white;
  border          : none;
}

#btn:hover {
  background-color: #4173b4;
  color           : white;
  border          : none;
  height          : 28px;
}